{% extends 'base.html' %}

{% load static %}
{% block extra-head%}

<link rel="stylesheet" href="{% static 'landing.css' %}?{% now "U" %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap" rel="stylesheet">

{%endblock%}

{% block otherpages %}
{% include 'modal.html' %}

<canvas id="bg-animation-canvas"></canvas>

<script src="{% static 'tek_animation.js' %}"></script>

<div class="hero-text">
  <h1>Welcome to <br> Fall 25 Tek club</h1>
  <p>Discover. Create. Connect.</p>
  <a href="{% url 'joinus:apply' %}" class="cta-button">Apply</a>
</div>

<div class="page-content">
  <div class="club-description">
    <p>
      Join TEK Club, the University of Utah Asia Campus’s leading tech society, where students explore coding, data, and intelligent systems to solve real-world business problems. From web and app development to AI and analytics — students of David Eccles School of Business are welcome!
    </p>
  </div>

  <div class="lab-card-container">
    <div class="lab-card">
      <h3>Frontend Development</h3>
      <p>Building web interfaces using HTML, CSS, JS, and modern frameworks.</p>
    </div>
    <div class="lab-card">
      <h3>Data Visualization</h3>
      <p>Transforming data into insight through dashboards and visuals.</p>
    </div>
    <div class="lab-card">
      <h3>Data Engineering</h3>
      <p>Managing pipelines, databases, and data infrastructure.</p>
    </div>
    <div class="lab-card">
      <h3>Excel</h3>
      <p>Mastering Excel and applying it to real-world business problems.</p>
    </div>
  </div>
</div>


{%endblock%}
