{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'announcement.css' %}?{% now "U" %}">
<style>
    /* Hide the carousel */
    .carousel-inner {
    display: none !important;
    }
</style>
{% endblock %}

{% block otherpages %}
    <div class = "coverpic">
        <img src = "{% static 'img/coverpic1.jpg' %}">
        <a href="#">Announcement</a>
    </div>
    
    <div class="announcement-board">
        <h2>Posts</h2>
        <table class="board-table">
            <thead>
                <tr>
                    {% for col in col_head %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for number, list in numbered_posts %}
                <tr>
                    <td>
                        {{ number }}
                    <td class = "title-col">
                        <a href="{% url 'news:announcement_detail' list.id %}">
                            {{ list.postname }}
                        </a>
                    </td>
                    <td>{{ list.author }}</td>
                    <td>{{ list.date|date:"Y-m-d" }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1"> << </a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}"> < </a>
                {% endif %}
        
                <span class="current">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}";>>></a>
                {% endif %}
            </span>
        </div>
        {% if request.user.is_authenticated %}
        <div class="back-button-container">
            <a href="{% url 'news:announcement_create' %}" class="back-button"><span>Post</span></a>
        </div>
        {% endif %}
    </div>

{% endblock %}