{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'event.css' %}?{% now "U" %}">
<style>
    /* Hide the carousel */
    .carousel-inner {
    display: none !important;
    }
</style>
{% endblock %}

{% block otherpages %}
<div class = "coverpic">
    <img src = "{% static 'img/coverpic1.jpg' %}">
    <a href="#">Event</a>
</div>
<div class="calendarcontainer">
    <div class="calendar-box">
        <div class="calendar">
            <h3>{{ month_name }}</h3>
            <table>
                <tr>
                    <td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td><td>Sun</td>
                </tr>
                {% for week in cal %}
                <tr>
                    {% for day in week %}
                    <td>
                        {% if day != 0 %}
                            {{ day }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="event-schedule">
            <h3>
                <a href="#">Monthly Events</a>
            </h3>
            <hr class="thicker">
            {% for event in events %}
            <div class = "titledate">
                <li>{{ event.title }}</li> 
                <h4>{{ event.date }}</h4>
                <p>{{event.description}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}