{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'lab.css' %}?{% now "U" %}">
<style>
    /* Hide the carousel */
    .carousel-inner {
    display: none !important;
    }
</style>
{% endblock %}

{% block otherpages %}
<div class = "coverpic">
    <img src = "{% static 'img/frontend.jpeg' %}"style="object-fit: cover; object-position: 0% 70%;">
    <a></a>
</div>
<div class="labcontainer">
    <h1>Frontend Development Lab</h1>
    <h2>The Frontend Development Lab offers hands-on experience in building web-based solutions with a focus on Django. Members will collaborate on real-world projects, dynamic interfaces, and responsive designs using HTML, CSS, Python, etc. The lab covers frontend design, backend logic, and database integration, fostering technical skills and teamwork.</h2>
    <div class="labintro">
        <h3>What We Study</h3>
        <div class = "skilltable">
            <div class = "skills">
                <img src = "{% static 'img/django.png' %}">
                <a>Django</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/html.png' %}">
                <a>HTML</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/css.png' %}">
                <a>CSS</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/github.png' %}">
                <a>GitHub</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/python.png' %}">
                <a>Python</a>
            </div>
        </div>
        <h3>Our Projects</h3>
        <h4>Spring 2025</h4>
        <div class = "projecttable">
            <div class = "project">
                <img src = "{% static 'img/uukaa.png' %}">
                <h5>UUKAA Project</h5>
                <div class ="projectdescription">
                    <a>UUKAA (University of Utah Korean Alumni Association) is a community that connects Korean alumni of the University of Utah. 
                        The website shares news, events, and resources to strengthen ties between alumni and support the growing U of U network in Korea.
                        Frontend Development Lab members designed and developed the frontend using HTML and CSS.
                    </a>
                </div>
            </div>
            <div class = "project">
                <img src = "{% static 'img/teklogo2.png' %}">
                <h5>TEK Website Project</h5>
                <div class ="projectdescription">
                    <a>The TEK website is a full-featured platform developed from scratch by members of the Frontend Development Lab. 
                        It showcases our lab's projects, research, and activities, with a fully custom design and structure built entirely in-house. 
                        The site reflects our commitment to clean design, usability, and hands-on development experience.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}