{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'lab.css' %}?{% now "U" %}">
<style>
    /* Hide the carousel */
    .carousel-inner {
    display: none !important;
    }
</style>
{% endblock %}

{% block otherpages %}
<div class = "coverpic">
    <img src = "{% static 'img/dataengineering.jpeg' %}"style="object-fit: cover; object-position: 0% 50%;">
    <a></a>
</div>
<div class="labcontainer">
    <h1>Data Engineering Lab</h1>
    <h2>
        Data engineering lab explore data-driven solutions using Python, Java, and other technologies to turn ideas into impactful projects. 
        You don’t need to be an expert—curiosity and a willingness to learn matter most. 
        Bring your creativity, share your insights, and grow with us. All you need is a spoonful of enthusiasm! us to turn numbers into insights and make data speak visually!
    </h2>
    <div class="labintro">
        <h3>What We Study</h3>
        <div class = "skilltable">
            <div class = "skills">
                <img src = "{% static 'img/python.png' %}">
                <a>Python</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/java.png' %}">
                <a>Java</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/github.png' %}">
                <a>GitHub</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/git.png' %}">
                <a>Git</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}