{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'lab.css' %}?{% now "U" %}">
<style>
    /* Hide the carousel */
    .carousel-inner {
    display: none !important;
    }
</style>
{% endblock %}

{% block otherpages %}
<div class = "coverpic">
    <img src = "{% static 'img/excel.jpeg' %}"style="object-fit: cover; object-position: 0% 50%;">
    <a></a>
</div>
<div class="labcontainer">
    <h1>Excel Lab</h1>
    <h2>The Excel Lab provides practical coding experience by integrating Python with Excel, utilizing Visual Studio Code as the primary development environment.
        Members will have the opportunity to learn and develop an Excel scoring system from the basics.
        This lab covers not only fundamental coding skills but also more advanced integration techniques.
        It encourages active use of GitHub to build a strong portfolio and aims to improve teamwork through collaborative projects.
    </h2>
    <div class="labintro">
        <h3>What We Study</h3>
        <div class = "skilltable">
            <div class = "skills">
                <img src = "{% static 'img/excel.png' %}">
                <a>Excel</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/python.png' %}">
                <a>Python</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/vscode.png' %}">
                <a>VS Code</a>
            </div>
            <div class = "skills">
                <img src = "{% static 'img/github.png' %}">
                <a>GitHub</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}